body {
    min-width: 1540px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Montserrat", "Arial", sans-serif;
    background: url("img/pattern-lines-hero.svg") center;
}

.container {
    width: 1500px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.page-header {
    height: 55px;
    padding-top: 45px;
}

.page-header .container {
    display: flex;
}

.page-header a {
    text-transform: uppercase;
    margin-right: 70px;
    padding-bottom: 5px;
}

.page-header a:nth-child(4) {
    margin-left: auto;
    font-size: 12px;
}

.page-header a:nth-child(5) {
    font-size: 12px;
}

.email,
.phone {
   padding-left: 25px;
}

.email {
    background: url("img/icon-email.svg") no-repeat left 20%;
    background-size: 20px auto;
}

.email:hover {
    background: url("img/icon-email-alt.svg") no-repeat left 20%;
    background-size: 20px auto;
}

.phone {
    background: url("img/icon-phone.svg") no-repeat left 20%;
    background-size: 20px auto;
}

.phone:hover {
    background: url("img/icon-phone-alt.svg") no-repeat left 20%;
    background-size: 20px auto;
}

/* свич темы */

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.switch input {
    display:none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #ff7e4d;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #ff7e4d;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* ------------------- */

.page-promo {
    height: 780px;
    padding-top: 60px;
    background: url("img/bg-html.png") no-repeat center 60px;
}

.page-promo .container {
    display: flex;
}

.column-1 {
    width: 730px;
    margin: 0;
    margin-top: 100px;
}

.column-2 {
    width: 770px;
    height: 750px;
}

.page-promo p {
    margin: 0;
    font-size: 32px;
    line-height: 48px;
    color: #ff7e4d;
}

.page-promo a {
    margin-top: 40px;
    padding: 8px 35px;
}

h1 {
    margin: 0;
    margin-top: 20px;
    font-size: 96px;
    line-height: 112px;
    font-weight: 500;
}

.page-design {
    height: 170px;
    background: url(img/bg-tags.svg) no-repeat center;
    border-top: 2px solid #5053a8;
    border-bottom: 2px solid #5053a8;
}

h2 {
    margin: 0 0 60px;
    text-align: left;
    font-size: 50px;
    line-height: 66px;
    font-weight: 100;
    color: #ff7e4d;
}

.btn {
    display: inline-block;
    vertical-align: baseline;
    color: #f2f2f2;
    background-color: #ff7e4d;
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 600;
    text-transform: lowercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 16px rgba(255, 126, 77, 0.4);
    border-radius: 24px;
    transition: background-color 100ms, box-shadow 100ms;
}

.btn:hover {
    background-color: #ff7e4d;
    box-shadow: 0 4px 32px rgba(255, 126, 77, 0.6);
}
  
.btn:active {
    background-color: rgb(194, 97, 59);
    box-shadow: none;
}

.page-skills {
    margin-top: 100px;
    margin-bottom: 200px;
}

.skills-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills-item {
    position: relative;
    height: 440px;
    width: 330px;
    border: 1px solid #a298e2;
}


.skills-item h3 {
    font-family: "Gill Sans Ultra Bold", sans-serif;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 45px auto 25px;
}

.logo-html,
.logo-css,
.logo-js {
    height: 200px;
    width: 180px;
    margin: 0 auto 80px;
}

.logo-html {
    background: url("img/sprite.png") no-repeat 0 bottom;
}

.logo-css {
    background: url("img/sprite.png") no-repeat -232px bottom;
}

.logo-js {
    background: url("img/sprite.png") no-repeat -465px bottom;
}

.logo-react {
    height: 250px;
    width: 250px;
    margin: -20px auto 50px;
    background: url("img/React.js_logo.png") no-repeat;
}

.skills-item b {
    position: absolute;
    top: 340px;
    right: 30px;
}

.level {
    margin: 0 25px 0;
    height: 10px;
    text-align: right;
    border: 1px solid #a298e2;
    border-radius: 2px;
    overflow: hidden;
}

.level div {
    margin: 0;
    height: 10px;
    letter-spacing: 1px;
    background-color: #a298e2;
}

.skills-item p {
    margin-top: 90px;
    text-align: center;
}

.page-catalog {
    margin-bottom: 200px;
    margin-top: 100px;
}

.catalog-items {
    display: flex;
    justify-content: space-between;
}

.catalog {
    margin-top: 100px;
    margin-left: 630px;
    margin-bottom: 0;
}

.page-footer {
    background: #212349;
    padding: 40px 0;
}

/* Подчеркивание ссылок */

.page-header a,
.page-footer a {
    position: relative;
}

.page-header a:hover,
.page-footer a:hover {
    color: #ff7e4d;
}

.page-header a::after,
.page-footer a::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ff7e4d;
    transition: width 200ms;
}

.page-header a:hover::after,
.page-footer a:hover::after {
    width: 100%;
}

/* Переключение темы */

.dark {
    color: #f2f2f2;
    background-color: #141530;
}

.darkness {
    background-color: #0b0c23;
}

.light {
    color: #141530;
    background-color: #f2f2f2;
}

.lightness {
    background-color: #f9f9f9;
}